shell-emulator=true # 允许在不同操作系统上模拟 shell 环境
shamefully-hoist=true # 允许将依赖提升到顶层，类似于npm的扁平化结构，解决一些旧包的兼容性问题
enable-pre-post-scripts=false # 安装依赖时禁用预处理和后处理脚本，防止恶意脚本
strict-peer-dependencies=false # 关闭对等依赖（peer dependencies）的严格检查,解决一些兼容性问题
