@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 修改element-plus 样式 */
  --el-bg-color-overlay: #18204b; /* 背景色 */
  --el-border-color-light: #363636; /* 边框颜色 */
  --el-color-primary-hover: #1b275e;
  // --el-menu-hover-bg-color: #1B275E;
  --el-dropdown-menuItem-hover-fill: #1b275e; // 未生效
  --el-dropdown-menuItem-hover-color: #1b275e; // 未生效
  /* 基础颜色 - 使用 RGB 格式便于设置透明度 */
  --color-bg: 0, 21, 41; /* #001529 */
  --color-card-bg: 22, 31, 75; /* #162F4B */
  --color-primary: 24, 32, 75; /* #1890FF */
  --color-hoverBg: 27, 39, 94; /* #1B273E */
  --color-norText: 145, 170, 242;
  --color-smText: 218, 222, 242; /* #DADEF2 */
  --color-yellow: 255, 219, 41; /* #FFDB29 */
  --color-unit: 143, 150, 204; /* #8F96CC */
  --color-tag-yellow: 214, 229, 46; /* #D6E52E */
  --color-tag-green: 80, 229, 167; /* #50E5A7 */
  --color-error: 218, 41, 10; /* #DA290A */
  --color-hint: 27, 121, 245; /* #1B79F5 */

  /* 渐变和阴影 */
  --gradient-main: linear-gradient(90deg, #0b7ee1 0%, #01c89d 100%);
  --gradient-background: radial-gradient(
    780% 100% at 50% 0%,
    #12193c 0%,
    #151c3c 100%
  );
  /* 圆角 */
  --radius: 10px;

  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 常用border-color 需要时可取用 */
  --pure-border-color: rgb(5 5 5 / 6%);

  /* switch关闭状态下的color 需要时可取用 */
  --pure-switch-off-color: #a6a6a6;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}
